<form action='/products/{% if product %}{{product.id}}{% endif %}' method=POST>
  {% if product %}
<input type="hidden" name="id" value="{{ product.id }}"/>
  {% endif %}
  <div>
    <label>Name:</label>
    <br />
    <input type='text' name='name' value="{{product.name |}}" />  
  </div>
  <div>
    <label>Price:</label>
    <br />
    <input type='text' name='price' value="{{product.price}}"/>  
  </div>
  <div>
    <label>Slug:</label>
    <br />
    <input type='text' name='slug' value="{{product.slug}}"/>  
  </div>
  <div>
    <label>Description:</label>
    <br />
    <textarea name='description'>{{ product.description }}</textarea>
  </div>
  <div><button type='submit'>Save Product</button></div>
</form>