<form action='/variants/{% if variant %}{{variant.id}}{% endif %}' method=POST>
  {% if variant.id %}
<input type="hidden" name="id" value="{{ variant.id }}"/>
  {% endif %}
  <div class='form_control'>
    <label for='title'>Title:</label>
    <br />
    <input type='text' name='title' id="title" value="{{variant.title}}" />  
  </div>
  <div class='form_control'>
    <label for='slug'>Slug:</label>
    <br />
    <input type='text' name='slug' id="slug" value="{{variant.slug}}"/>  
  </div>
  <div class='form_control'>
    <label for='price'>Price:</label>
    <br />
    <input type='text' name='price' id="price" value="{{variant.price}}"/>  
  </div>
  <div class='form_control'>
    <label for='inventory'>Available Invetory:</label>
    <br />
    <input type='number' name='inventory' id="inventory" value="{{variant.inventory}}"/>  
  </div>
 <div class='form_control'>
		<label>Parent Product:</label>
		<br />
		<select name="productId">
			<option>Select Parent Product...</option>
			{% for product in products %}
				<option 
					value="{{ product.id }}" 
					{% if product.id == variant.productId %}selected="selected"{% endif %}
				>
					{{ product.title }}
				</option>
			{% endfor %}
		</select>
	</div>
  <div class='form_control'>
    <label for='description'>Description:</label>
    <br />
    <textarea rows="10" cols="50" name='description' id="description">{{ variant.description }}</textarea>
  </div>
  <div><button type='submit'>Add Variant</button></div>
</form>