{% extends "layouts/base.twig" %}

{% block main_content %}
<a href='/'> < Back</a>

<h1>Welcome this is coming from templates/views/variants/show.twig</h1>
<h2>About {{ variant.title}}</h2>
<p>Product: {{variant.productId}}</p>
<ul>
    <li>
      <strong>Id:</strong> {{variant.price}} - 
    </li>
    <li>
      <strong>Price:</strong> {{variant.price}} - 
    </li>
    <li>
      <strong>Slug:</strong> {{variant.slug}} - 
    </li>
    <li>
      <strong>Inventory:</strong> {{variant.inventory}} - 
    </li>
    <li>
      <strong>Description:</strong> {{variant.description}} - 
    </li>
</ul>
      {# <a href='/products/{{ product.id }}'>View</a> #}
      <a href='/variants/{{ variant.id }}/edit'>Edit</a> | <a href='/variants/{{ variant.id }}/delete'>Delete</a>


<a href='/variants/new'>Creat New Variant</a>
{% endblock %}