{% extends "layouts/base.twig" %}

{% block main_content %}
<a href='/'> < Back</a>

<h1>Welcome this is coming from templates/views/variants/show.twig</h1>
<h2>About {{ variant.title}}</h2>
<ul style="list-style:none;">
    <li>
      <strong>Id:</strong> {{variant.id}}  
    </li>
    <li>
      <strong>Title:</strong> {{variant.title}}  
    </li>
    <li>
      <strong>URL Slug:</strong> {{variant.slug}} - 
    </li>
    <li>
      <strong>Price:</strong> ${{variant.price}} - 
    </li>
    <li>
      <strong>Inventory:</strong> {{variant.inventory}} - 
    </li>
    <li>
      <strong>Description:</strong> 
      <p style="max-width: 500px;"><em>{{ variant.description|raw }}</em></p>
    </li>
</ul>
<p>
    <a href='/variants/{{ variant.id }}/edit'>Edit</a> | <a href='/variants/{{ variant.id }}/delete'>Delete</a>
</p>
{% endblock %}