{% extends "layouts/base.twig" %}

{% block main_content %}
<a href='/'> < Back</a>
<h1>Welcome this is coming from templates/views/images/index.twig</h1>
<h2>All Images:</h2>

<ul>
  {% for image in images %}
    <li>
      ID: {{ image.id }} -- {{ image.variantId }} 
      <a href='/images/{{ image.id }}'>{{ image.id }}.jpg</a>
      <a href='/variants/{{ image.variantId }}'>
        {{ image.Variant.title }} #{{ image.variantId }}
      </a>
      <a href='/images/{{ image.id }}/edit'>Edit</a>
      <a href='/images/{{ image.id }}/delete'>Delete</a>
    </li>
  {% endfor %}
</ul>

<a href='/images/new'>Creat New Image</a>
{% endblock %}