{% extends "layouts/base.twig" %}

{% block main_content %}
<a href='/'> < Back</a>
<h1>Welcome this is coming from templates/views/images/show.twig</h1>
<h2>About {{ images.id}}</h2>

  <ul>
    <li>
        <strong>Id:</strong> {{ images.id }}
    </li>
    <li>
        <strong>Variant Id:</strong> {{ images.variantId }}
    </li>
  </ul>
<a href='/images/{{image.id}}/edit'>Edit</a>
<a href='/images/{{image.id}}/delete'>Delete</a>
{% endblock %}