<form action='/products/{% if product.id %}{{product.id}}{% endif %}' method=POST>
  {% if product %}
<input type="hidden" name="id" value="{{ product.id }}"/>
  {% endif %}
  <div>
    <label for='title'>Title:</label>
    <br />
    <input type='text' name='title' value="{{product.title}}" />  
  </div>
  <div>
    <label for='slug'>Slug:</label>
    <br />
    <input type='text' name='slug' value="{{product.slug}}"/>  
  </div>
  <div>
    <label for='price'>Price:</label>
    <br />
    <input type='text' name='price' value="{{product.price}}"/>  
  </div>
  <div>
    <label for='description'>Description:</label>
    <br />
    <textarea name='description'>{{ product.description }}</textarea>
  </div>
  <div>
  <input type='checkbox' name='is_published' value='{{product.is_published}}' />
  <label>In Stock</label>
  </div>
  <div><button type='submit'>Add Product</button></div>
</form>